# **Introduction to Pandas dataframe: Select specific column(s) in a DataFrame**

Chanin Nantasenamat

[*'Data Professor' YouTube channel*](http://youtube.com/dataprofessor)

In this Jupyter notebook, I will be showing you how to select specifc column(s) in a DataFrame.

---

## **Download CSV data**

In [ ]:
! wget https://raw.githubusercontent.com/dataprofessor/data/master/delaney_solubility_with_descriptors.csv

--2020-05-03 17:41:00--  https://raw.githubusercontent.com/dataprofessor/data/master/delaney_solubility_with_descriptors.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 57370 (56K) [text/plain]
Saving to: ‘delaney_solubility_with_descriptors.csv’

delaney_solubility_ 100%[===================>]  56.03K  --.-KB/s    in 0.01s

2020-05-03 17:41:00 (3.82 MB/s) - ‘delaney_solubility_with_descriptors.csv’ saved [57370/57370]

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('delaney_solubility_with_descriptors.csv')
df

      MolLogP    MolWt  NumRotatableBonds  AromaticProportion   logS
0     2.59540  167.850                0.0            0.000000 -2.180
1     2.37650  133.405                0.0            0.000000 -2.000
2     2.59380  167.850                1.0            0.000000 -1.740
3     2.02890  133.405                1.0            0.000000 -1.480
4     2.91890  187.375                1.0            0.000000 -3.040
...       ...      ...                ...                 ...    ...
1139  1.98820  287.343                8.0            0.000000  1.144
1140  3.42130  286.114                2.0            0.333333 -4.925
1141  3.60960  308.333                4.0            0.695652 -3.893
1142  2.56214  354.815                3.0            0.521739 -3.790
1143  2.02164  179.219                1.0            0.461538 -2.581

[1144 rows x 5 columns]

## **Selecting specific column(s)**

### Selecting a single column

In [ ]:
df.MolLogP

0       2.59540
1       2.37650
2       2.59380
3       2.02890
4       2.91890
         ...
1139    1.98820
1140    3.42130
1141    3.60960
1142    2.56214
1143    2.02164
Name: MolLogP, Length: 1144, dtype: float64

In [ ]:
df['MolLogP']

0       2.59540
1       2.37650
2       2.59380
3       2.02890
4       2.91890
         ...
1139    1.98820
1140    3.42130
1141    3.60960
1142    2.56214
1143    2.02164
Name: MolLogP, Length: 1144, dtype: float64

### Selecting two or more columns

In [ ]:
df[['MolLogP','NumRotatableBonds']]

      MolLogP  NumRotatableBonds
0     2.59540                0.0
1     2.37650                0.0
2     2.59380                1.0
3     2.02890                1.0
4     2.91890                1.0
...       ...                ...
1139  1.98820                8.0
1140  3.42130                2.0
1141  3.60960                4.0
1142  2.56214                3.0
1143  2.02164                1.0

[1144 rows x 2 columns]

In [ ]:
df.iloc[:,[0,2]]

      MolLogP  NumRotatableBonds
0     2.59540                0.0
1     2.37650                0.0
2     2.59380                1.0
3     2.02890                1.0
4     2.91890                1.0
...       ...                ...
1139  1.98820                8.0
1140  3.42130                2.0
1141  3.60960                4.0
1142  2.56214                3.0
1143  2.02164                1.0

[1144 rows x 2 columns]

In [ ]:
selection = ['MolLogP','NumRotatableBonds', 'logS']
df[selection]

      MolLogP  NumRotatableBonds   logS
0     2.59540                0.0 -2.180
1     2.37650                0.0 -2.000
2     2.59380                1.0 -1.740
3     2.02890                1.0 -1.480
4     2.91890                1.0 -3.040
...       ...                ...    ...
1139  1.98820                8.0  1.144
1140  3.42130                2.0 -4.925
1141  3.60960                4.0 -3.893
1142  2.56214                3.0 -3.790
1143  2.02164                1.0 -2.581

[1144 rows x 3 columns]